.userPopout-xaxa6l[data-user-id="193188089756123136"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="193188089756123136"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="596812194906374167"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="596812194906374167"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="281376608038813696"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="281376608038813696"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="269939624401436672"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="269939624401436672"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="272440514400354305"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="272440514400354305"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="409639495030538250"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="409639495030538250"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="562386647828791311"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="562386647828791311"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="442661470770167838"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="442661470770167838"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="394804652064899072"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="394804652064899072"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="148883925270396929"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="148883925270396929"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="233787027517210624"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="233787027517210624"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="751092600890458203"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="751092600890458203"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="289782983357890571"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="289782983357890571"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="478881945020006402"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="478881945020006402"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="118830296350064641"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="118830296350064641"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="421890156686213120"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="421890156686213120"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="285902386701271050"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="285902386701271050"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="429013973501870100"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="429013973501870100"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="317274395410169856"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="317274395410169856"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="516246121002303489"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="516246121002303489"] .profileBadges-ohc0Vu::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="562386647828791311"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="562386647828791311"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="442661470770167838"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="442661470770167838"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="148883925270396929"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="148883925270396929"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="394804652064899072"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="394804652064899072"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="233787027517210624"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="233787027517210624"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="751092600890458203"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="751092600890458203"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="289782983357890571"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="289782983357890571"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="478881945020006402"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="478881945020006402"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="118830296350064641"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="118830296350064641"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="421890156686213120"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="421890156686213120"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="285902386701271050"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="285902386701271050"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="429013973501870100"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="429013973501870100"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="317274395410169856"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="317274395410169856"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="516246121002303489"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="516246121002303489"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.message-2qnXI6[data-user-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="193188089756123136"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="193188089756123136"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="193188089756123136"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="193188089756123136"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="193188089756123136"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="193188089756123136"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="193188089756123136"] .username-2b1r56,
.root-3QyAh1[data-user-id="193188089756123136"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

.message-2qnXI6[data-user-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="281376608038813696"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="281376608038813696"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="281376608038813696"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="281376608038813696"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="281376608038813696"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="281376608038813696"] .username-2b1r56,
.root-3QyAh1[data-user-id="281376608038813696"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.message-2qnXI6[data-user-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="596812194906374167"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="596812194906374167"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="596812194906374167"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="596812194906374167"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="596812194906374167"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="596812194906374167"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="596812194906374167"] .username-2b1r56,
.root-3QyAh1[data-user-id="596812194906374167"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #610019 0%, #ff0041 50%, #610019 100%);
}

.message-2qnXI6[data-user-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="269939624401436672"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="269939624401436672"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="269939624401436672"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="269939624401436672"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="269939624401436672"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="269939624401436672"] .username-2b1r56,
.root-3QyAh1[data-user-id="269939624401436672"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #360167, #6B0772, #AF1281, #CF268A, #AF1281, #6B0772, #360167);
}

.message-2qnXI6[data-user-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="272440514400354305"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="272440514400354305"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="272440514400354305"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="272440514400354305"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="272440514400354305"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="272440514400354305"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="272440514400354305"] .username-2b1r56,
.root-3QyAh1[data-user-id="272440514400354305"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #FDC7C5 0%, #FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%, #D6D8A7 80%, #EFCFAF 90%, #FDC7C5 100%);
}

.message-2qnXI6[data-user-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="409639495030538250"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="409639495030538250"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="409639495030538250"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="409639495030538250"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="409639495030538250"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="409639495030538250"] .username-2b1r56,
.root-3QyAh1[data-user-id="409639495030538250"] .username-2b1r56,
.message-2qnXI6[data-user-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="303880582331629569"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="303880582331629569"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="303880582331629569"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="303880582331629569"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="303880582331629569"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="303880582331629569"] .username-2b1r56,
.root-3QyAh1[data-user-id="303880582331629569"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

.message-2qnXI6[data-user-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="562386647828791311"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="562386647828791311"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="562386647828791311"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="562386647828791311"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="562386647828791311"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="562386647828791311"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="562386647828791311"] .username-2b1r56,
.root-3QyAh1[data-user-id="562386647828791311"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(56deg, #dfc13f 0%, #f63939 33%, #3e099d 66%, #dfc13f 99%);
}

.message-2qnXI6[data-user-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="442661470770167838"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="442661470770167838"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="442661470770167838"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="442661470770167838"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="442661470770167838"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="442661470770167838"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="442661470770167838"] .username-2b1r56,
.root-3QyAh1[data-user-id="442661470770167838"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fcb2d7 0%, black 50%, #fcb2d7 100%);
}

.message-2qnXI6[data-user-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="148883925270396929"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="148883925270396929"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="148883925270396929"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="148883925270396929"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="148883925270396929"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="148883925270396929"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="148883925270396929"] .username-2b1r56,
.root-3QyAh1[data-user-id="148883925270396929"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, black 0%, blue 25%, black 50%, #7b00ff 75%, black 100%);
}

.message-2qnXI6[data-user-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="394804652064899072"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="394804652064899072"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="394804652064899072"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="394804652064899072"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="394804652064899072"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="394804652064899072"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="394804652064899072"] .username-2b1r56,
.root-3QyAh1[data-user-id="394804652064899072"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: radial-gradient(circle, #00cbff 0%, #4cc472 12%, #b7ab63 30%, #d6a512 51%, #ce2020 70%, #840707 100%);
}

.message-2qnXI6[data-user-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="233787027517210624"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="233787027517210624"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="233787027517210624"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="233787027517210624"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="233787027517210624"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="233787027517210624"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="233787027517210624"] .username-2b1r56,
.root-3QyAh1[data-user-id="233787027517210624"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #f2dd88 20%, black 50%, #f2dd88 80%);
}

.message-2qnXI6[data-user-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="751092600890458203"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="751092600890458203"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="751092600890458203"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="751092600890458203"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="751092600890458203"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="751092600890458203"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="751092600890458203"] .username-2b1r56,
.root-3QyAh1[data-user-id="751092600890458203"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

.message-2qnXI6[data-user-id="289782983357890571"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="289782983357890571"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="289782983357890571"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="289782983357890571"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="289782983357890571"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="289782983357890571"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="289782983357890571"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="289782983357890571"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="289782983357890571"] .username-2b1r56,
.root-3QyAh1[data-user-id="289782983357890571"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #19191b 0%, #deaf9d 33%, #e0e7e8 66%, #19191b 100%);
}

.message-2qnXI6[data-user-id="478881945020006402"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="478881945020006402"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="478881945020006402"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="478881945020006402"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="478881945020006402"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="478881945020006402"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="478881945020006402"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="478881945020006402"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="478881945020006402"] .username-2b1r56,
.root-3QyAh1[data-user-id="478881945020006402"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 10s linear infinite;
          animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #19191b 0%, #deaf9d 33%, #eb6f92 66%, #19191b 100%);
}

.message-2qnXI6[data-user-id="118830296350064641"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="118830296350064641"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="118830296350064641"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="118830296350064641"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="118830296350064641"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="118830296350064641"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="118830296350064641"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="118830296350064641"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="118830296350064641"] .username-2b1r56,
.root-3QyAh1[data-user-id="118830296350064641"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #76f0ff 0%, #fbd5ff 30%, white 50%, #fbd5ff 70%, #76f0ff 100%);
}

.message-2qnXI6[data-user-id="421890156686213120"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="421890156686213120"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="421890156686213120"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="421890156686213120"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="421890156686213120"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="421890156686213120"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="421890156686213120"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="421890156686213120"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="421890156686213120"] .username-2b1r56,
.root-3QyAh1[data-user-id="421890156686213120"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #e1748b 0%, #eaa1a6 20%, #e6dced 40%, #e3eef8 60%, #e8f8eb 80%, #e1748b 100%);
}

.message-2qnXI6[data-user-id="285902386701271050"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="285902386701271050"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="285902386701271050"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="285902386701271050"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="285902386701271050"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="285902386701271050"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="285902386701271050"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="285902386701271050"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="285902386701271050"] .username-2b1r56,
.root-3QyAh1[data-user-id="285902386701271050"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(140deg, #95efeb 0%, #95beef 10%, #a095ef 20%, #d595ef 30%, #ef95d5 40%, #ef95a0 50%, #efbf95 60%, #eaef95 70%, #b6ef95 80%, #95efaa 90%, #95efeb 100%);
}

.message-2qnXI6[data-user-id="429013973501870100"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="429013973501870100"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="429013973501870100"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="429013973501870100"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="429013973501870100"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="429013973501870100"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="429013973501870100"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="429013973501870100"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="429013973501870100"] .username-2b1r56,
.root-3QyAh1[data-user-id="429013973501870100"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #5bcefa 20%, #f5a9b8 20%, 40%, white 40%, 60%, #f5a9b8 60%, 80%, #5bcefa 80%);
}

.message-2qnXI6[data-user-id="317274395410169856"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="317274395410169856"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="317274395410169856"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="317274395410169856"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="317274395410169856"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="317274395410169856"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="317274395410169856"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="317274395410169856"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="317274395410169856"] .username-2b1r56,
.root-3QyAh1[data-user-id="317274395410169856"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
}

.message-2qnXI6[data-user-id="516246121002303489"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="516246121002303489"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="516246121002303489"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="516246121002303489"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="516246121002303489"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="516246121002303489"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="516246121002303489"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="516246121002303489"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="516246121002303489"] .username-2b1r56,
.root-3QyAh1[data-user-id="516246121002303489"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}