// -- Badge --

.userPopout-2j1gM4 {

    // PANIC#6666
    &[data-user-id="193188089756123136"],
    &[vz-user-id="193188089756123136"],

    // Qvas#7777
    &[data-user-id="596812194906374167"],
    &[vz-user-id="596812194906374167"],

    // Noteless#0666
    &[data-user-id="281376608038813696"],
    &[vz-user-id="281376608038813696"],

    // Josh#3577
    &[data-user-id="269939624401436672"],
    &[vz-user-id="269939624401436672"],

    // Rabbite#6969
    &[data-user-id="272440514400354305"],
    &[vz-user-id="272440514400354305"],

    // bolo#0199
    &[data-user-id="409639495030538250"],
    &[vz-user-id="409639495030538250"],
    
    // zbbVII#0547
    &[data-user-id="303880582331629569"],
    &[vz-user-id="303880582331629569"],

    // Reaper45#0001
    &[data-user-id="562386647828791311"],
    &[vz-user-id="562386647828791311"],

    // SkeppyCat#1185
    &[data-user-id="442661470770167838"],
    &[vz-user-id="442661470770167838"],

    // D |049| CatBoy#0049
    &[data-user-id="394804652064899072"],
    &[vz-user-id="394804652064899072"],

    // LewsTherin#0001
    &[data-user-id="148883925270396929"],
    &[vz-user-id="148883925270396929"],

    // AnnoyedLoki#0117
    &[data-user-id="233787027517210624"],
    &[vz-user-id="233787027517210624"],

    // Pukima#0001
    &[data-user-id="751092600890458203"],
    &[vz-user-id="751092600890458203"],

    // Chochu#1253
    &[data-user-id="289782983357890571"],
    &[vz-user-id="289782983357890571"],

    // ♡Okajuni♡ [BC]#1041
    &[data-user-id="478881945020006402"],
    &[vz-user-id="478881945020006402"],

    // Kaia#8444
    &[data-user-id="118830296350064641"],
    &[vz-user-id="118830296350064641"],

    // Maclean#8719
    &[data-user-id="421890156686213120"],
    &[vz-user-id="421890156686213120"],

    // Cituation#0069
    &[data-user-id="285902386701271050"],
    &[vz-user-id="285902386701271050"],

    // ven#0069
    &[data-user-id="429013973501870100"],
    &[vz-user-id="429013973501870100"],

    // Dxniel#2772
    &[data-user-id="317274395410169856"],
    &[vz-user-id="317274395410169856"],

    // J6lka#4160
    &[data-user-id="516246121002303489"],
    &[vz-user-id="516246121002303489"],

    // Dark-LYNN#6568
    &[data-user-id="705306248538488947"],
    &[vz-user-id="705306248538488947"],
    
    // 💙dopadream💛#7777
    &[data-user-id="717509908479868999"],
    &[vz-user-id="717509908479868999"],

    // Cywell#0001
    &[data-user-id="522953162748067840"],
    &[vz-user-id="522953162748067840"]

    {
        .profileBadges-2pItdR::before {
            content: ""; position: relative;
            width: 20px; height: 17px;
            margin: 1.5px 6px 0 0; pointer-events: none;
            background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
        } 
    } 
}

.member-2gU6Ar .wrapper-1VLyxH {
    
    // PANIC#6666
    &[data-user-id="193188089756123136"]::before,
    &[vz-user-id="193188089756123136"]::before,
    
    // Qvas#7777
    &[data-user-id="596812194906374167"]::before,
    &[vz-user-id="596812194906374167"]::before,

    // Noteless#0666
    &[data-user-id="281376608038813696"]::before,
    &[vz-user-id="281376608038813696"]::before,

    // Josh#3577
    &[data-user-id="269939624401436672"]::before,
    &[vz-user-id="269939624401436672"]::before,

    // Rabbite#6969
    &[data-user-id="272440514400354305"]::before,
    &[vz-user-id="272440514400354305"]::before,

    // bolo#0199
    &[data-user-id="409639495030538250"]::before,
    &[vz-user-id="409639495030538250"]::before,
    
    // zbbVII#0547
    &[data-user-id="303880582331629569"]::before,
    &[vz-user-id="303880582331629569"]::before,

    // Reaper45#0001
    &[data-user-id="562386647828791311"]::before,
    &[vz-user-id="562386647828791311"]::before,

    // SkeppyCat#1185
    &[data-user-id="442661470770167838"]::before,
    &[vz-user-id="442661470770167838"]::before,

    // LewsTherin#0001
    &[data-user-id="148883925270396929"]::before,
    &[vz-user-id="148883925270396929"]::before,

    // D |049| CatBoy#0049
    &[data-user-id="394804652064899072"]::before,
    &[vz-user-id="394804652064899072"]::before,

    // AnnoyedLoki#0117
    &[data-user-id="233787027517210624"]::before,
    &[vz-user-id="233787027517210624"]::before,

    // Pukima#0001
    &[data-user-id="751092600890458203"]::before,
    &[vz-user-id="751092600890458203"]::before,

    // Chochu#1253
    &[data-user-id="289782983357890571"]::before,
    &[vz-user-id="289782983357890571"]::before,

    // ♡Okajuni♡ [BC]#1041
    &[data-user-id="478881945020006402"]::before,
    &[vz-user-id="478881945020006402"]::before,

    // Kaia#8444
    &[data-user-id="118830296350064641"]::before,
    &[vz-user-id="118830296350064641"]::before,

    // Maclean#8719
    &[data-user-id="421890156686213120"]::before,
    &[vz-user-id="421890156686213120"]::before,

    // Cituation#0069
    &[data-user-id="285902386701271050"]::before,
    &[vz-user-id="285902386701271050"]::before,

    // ven#0069
    &[data-user-id="429013973501870100"]::before,
    &[vz-user-id="429013973501870100"]::before,

    // Dxniel#2772
    &[data-user-id="317274395410169856"]::before,
    &[vz-user-id="317274395410169856"]::before,

    // J6lka#4160
    &[data-user-id="516246121002303489"]::before,
    &[vz-user-id="516246121002303489"]::before,

    // Dark-LYNN#6568
    &[data-user-id="705306248538488947"]::before,
    &[vz-user-id="705306248538488947"]::before,
    
    // 💙dopadream💛#7777
    &[data-user-id="717509908479868999"]::before,
    &[vz-user-id="717509908479868999"]::before,

    // Cywell#0001
    &[data-user-id="522953162748067840"]::before,
    &[vz-user-id="522953162748067840"]::before

    {
        content: ""; position: absolute;
        width: 18px; height: 14px;
        bottom: -3px; left: -5px;
        z-index: 2; 
        background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
        background-size: 85%;
        border-radius: 0 5px 0 0;
        pointer-events: none;
    }
}

// -- Animated gradient username --

// PANIC#6666
.message-2CShn3[data-user-id="193188089756123136"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="193188089756123136"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="193188089756123136"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="193188089756123136"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="193188089756123136"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="193188089756123136"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="193188089756123136"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="193188089756123136"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="193188089756123136"] .username-3JLfHz,
.root-8LYsGj[data-user-id="193188089756123136"] .username-3JLfHz
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

// Noteless#0666
.message-2CShn3[data-user-id="281376608038813696"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="281376608038813696"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="281376608038813696"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="281376608038813696"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="281376608038813696"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="281376608038813696"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="281376608038813696"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="281376608038813696"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="281376608038813696"] .username-3JLfHz,
.root-8LYsGj[data-user-id="281376608038813696"] .username-3JLfHz
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

// Qvas#7777
.message-2CShn3[data-user-id="596812194906374167"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="596812194906374167"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="596812194906374167"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="596812194906374167"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="596812194906374167"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="596812194906374167"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="596812194906374167"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="596812194906374167"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="596812194906374167"] .username-3JLfHz,
.root-8LYsGj[data-user-id="596812194906374167"] .username-3JLfHz
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(97,0,25,1) 0%, rgba(255,0,65,1) 50%, rgba(97,0,25,1) 100%);
}

// Josh#3577
.message-2CShn3[data-user-id="269939624401436672"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="269939624401436672"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="269939624401436672"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="269939624401436672"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="269939624401436672"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="269939624401436672"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="269939624401436672"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="269939624401436672"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="269939624401436672"] .username-3JLfHz,
.root-8LYsGj[data-user-id="269939624401436672"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg, #360167 ,#6B0772, #AF1281, #CF268A, #AF1281, #6B0772 ,#360167);
}

// Rabbite#6969
.message-2CShn3[data-user-id="272440514400354305"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="272440514400354305"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="272440514400354305"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="272440514400354305"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="272440514400354305"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="272440514400354305"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="272440514400354305"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="272440514400354305"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="272440514400354305"] .username-3JLfHz,
.root-8LYsGj[data-user-id="272440514400354305"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg,#FDC7C5 0%,#FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%,#D6D8A7 80%,#EFCFAF 90%,#FDC7C5 100%);
}

// bolo#0199
.message-2CShn3[data-user-id="409639495030538250"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="409639495030538250"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="409639495030538250"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="409639495030538250"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="409639495030538250"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="409639495030538250"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="409639495030538250"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="409639495030538250"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="409639495030538250"] .username-3JLfHz,
.root-8LYsGj[data-user-id="409639495030538250"] .username-3JLfHz,

// zbbVII#0547
.message-2CShn3[data-user-id="303880582331629569"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="303880582331629569"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="303880582331629569"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="303880582331629569"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="303880582331629569"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="303880582331629569"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="303880582331629569"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="303880582331629569"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="303880582331629569"] .username-3JLfHz,
.root-8LYsGj[data-user-id="303880582331629569"] .username-3JLfHz
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

// Reaper45#0001
.message-2CShn3[data-user-id="562386647828791311"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="562386647828791311"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="562386647828791311"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="562386647828791311"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="562386647828791311"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="562386647828791311"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="562386647828791311"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="562386647828791311"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="562386647828791311"] .username-3JLfHz,
.root-8LYsGj[data-user-id="562386647828791311"] .username-3JLfHz
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(56deg, rgba(223,193,63,1) 0%, rgba(246,57,57,1) 33%, rgba(62,9,157,1) 66%, rgba(223,193,63,1) 99%);
}

// SkeppyCat#1185
.message-2CShn3[data-user-id="442661470770167838"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="442661470770167838"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="442661470770167838"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="442661470770167838"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="442661470770167838"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="442661470770167838"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="442661470770167838"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="442661470770167838"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="442661470770167838"] .username-3JLfHz,
.root-8LYsGj[data-user-id="442661470770167838"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(252,178,215,1) 0%, rgba(0,0,0,1) 50%, rgba(252,178,215,1) 100%);
}

// LewsTherin#0001
.message-2CShn3[data-user-id="148883925270396929"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="148883925270396929"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="148883925270396929"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="148883925270396929"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="148883925270396929"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="148883925270396929"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="148883925270396929"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="148883925270396929"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="148883925270396929"] .username-3JLfHz,
.root-8LYsGj[data-user-id="148883925270396929"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,0,0,1) 50%, rgba(123,0,255,1) 75%, rgba(0,0,0,1) 100%);
}

// D |049| CatBoy#0049
.message-2CShn3[data-user-id="394804652064899072"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="394804652064899072"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="394804652064899072"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="394804652064899072"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="394804652064899072"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="394804652064899072"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="394804652064899072"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="394804652064899072"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="394804652064899072"] .username-3JLfHz,
.root-8LYsGj[data-user-id="394804652064899072"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: radial-gradient(circle, rgba(0,203,255,1) 0%, rgba(76,196,114,1) 12%, rgba(183,171,99,1) 30%, rgba(214,165,18,1) 51%, rgba(206,32,32,1) 70%, rgba(132,7,7,1) 100%);
}

// AnnoyedLoki#0117
.message-2CShn3[data-user-id="233787027517210624"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="233787027517210624"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="233787027517210624"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="233787027517210624"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="233787027517210624"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="233787027517210624"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="233787027517210624"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="233787027517210624"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="233787027517210624"] .username-3JLfHz,
.root-8LYsGj[data-user-id="233787027517210624"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(242,221,136,1) 20%, rgba(0,0,0,1) 50%, rgba(242,221,136,1) 80%);
}

// Pukima#0001
.message-2CShn3[data-user-id="751092600890458203"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="751092600890458203"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="751092600890458203"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="751092600890458203"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="751092600890458203"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="751092600890458203"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="751092600890458203"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="751092600890458203"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="751092600890458203"] .username-3JLfHz,
.root-8LYsGj[data-user-id="751092600890458203"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

// Chochu#1253
.message-2CShn3[data-user-id="289782983357890571"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="289782983357890571"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="289782983357890571"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="289782983357890571"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="289782983357890571"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="289782983357890571"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="289782983357890571"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="289782983357890571"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="289782983357890571"] .username-3JLfHz,
.root-8LYsGj[data-user-id="289782983357890571"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(25,25,27,1) 0%, rgba(222,175,157,1) 33%, rgba(224,231,232,1) 66%, rgba(25,25,27,1) 100%);
}

// ♡Okajuni♡ [BC]
.message-2CShn3[data-user-id="478881945020006402"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="478881945020006402"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="478881945020006402"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="478881945020006402"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="478881945020006402"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="478881945020006402"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="478881945020006402"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="478881945020006402"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="478881945020006402"] .username-3JLfHz,
.root-8LYsGj[data-user-id="478881945020006402"] .username-3JLfHz 
{ 
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(25,25,27,1) 0%, rgba(222,175,157,1) 33%, rgb(235, 111, 146) 66%, rgba(25,25,27,1) 100%);
}

// Kaia#8444
.message-2CShn3[data-user-id="118830296350064641"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="118830296350064641"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="118830296350064641"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="118830296350064641"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="118830296350064641"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="118830296350064641"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="118830296350064641"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="118830296350064641"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="118830296350064641"] .username-3JLfHz,
.root-8LYsGj[data-user-id="118830296350064641"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(118,240,255,1) 0%, rgba(251,213,255,1) 30%, rgba(255,255,255,1) 50%, rgba(251,213,255,1) 70%, rgba(118,240,255,1) 100%);
}

// Maclean#8719
.message-2CShn3[data-user-id="421890156686213120"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="421890156686213120"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="421890156686213120"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="421890156686213120"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="421890156686213120"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="421890156686213120"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="421890156686213120"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="421890156686213120"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="421890156686213120"] .username-3JLfHz,
.root-8LYsGj[data-user-id="421890156686213120"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(90deg, rgba(225,116,139,1) 0%, rgba(234,161,166,1) 20%, rgba(230,220,237,1) 40%, rgba(227,238,248,1) 60%, rgba(232,248,235,1) 80%, rgba(225,116,139,1) 100%);
}

// Cituation#0069
.message-2CShn3[data-user-id="285902386701271050"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="285902386701271050"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="285902386701271050"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="285902386701271050"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="285902386701271050"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="285902386701271050"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="285902386701271050"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="285902386701271050"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="285902386701271050"] .username-3JLfHz,
.root-8LYsGj[data-user-id="285902386701271050"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(140deg, #95efeb 0%, #95beef 10%, #a095ef 20%, #d595ef 30%, #ef95d5 40%, #ef95a0 50%, #efbf95 60%, #eaef95 70%, #b6ef95 80%, #95efaa 90%, #95efeb 100%);
}

// ven#0069
.message-2CShn3[data-user-id="429013973501870100"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="429013973501870100"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="429013973501870100"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="429013973501870100"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="429013973501870100"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="429013973501870100"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="429013973501870100"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="429013973501870100"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="429013973501870100"] .username-3JLfHz,
.root-8LYsGj[data-user-id="429013973501870100"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;

    background-image: linear-gradient(-60deg, rgba(91, 206, 250) 20%, rgba(245, 169, 184) 20%, 40%, rgba(255, 255, 255) 40%, 60%, rgba(245, 169, 184) 60%, 80%, rgba(91, 206, 250) 80%);
}

// Dxniel#2772
.message-2CShn3[data-user-id="317274395410169856"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="317274395410169856"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="317274395410169856"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="317274395410169856"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="317274395410169856"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="317274395410169856"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="317274395410169856"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="317274395410169856"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="317274395410169856"] .username-3JLfHz,
.root-8LYsGj[data-user-id="317274395410169856"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;
    
    background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
}

// J6lka#4160 516246121002303489
.message-2CShn3[data-user-id="516246121002303489"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="516246121002303489"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="516246121002303489"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="516246121002303489"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="516246121002303489"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="516246121002303489"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="516246121002303489"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="516246121002303489"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="516246121002303489"] .username-3JLfHz,
.root-8LYsGj[data-user-id="516246121002303489"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;
    
    background-image: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

// Dark-LYNN#6568
.message-2CShn3[data-user-id="705306248538488947"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="705306248538488947"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="705306248538488947"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="705306248538488947"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="705306248538488947"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="705306248538488947"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="705306248538488947"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="705306248538488947"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="705306248538488947"] .username-3JLfHz,
.root-8LYsGj[data-user-id="705306248538488947"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;
    
    background-image: linear-gradient(45deg,orange, yellow, green, blue, indigo, violet, red);;
}

// Keyframes
@keyframes shine { to { background-position: 300% center;}}
@keyframes shine-reversed { to { background-position: -300% center;}}

// 💙dopadream💛#7777
.message-2CShn3[data-user-id="717509908479868999"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="717509908479868999"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="717509908479868999"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="717509908479868999"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="717509908479868999"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="717509908479868999"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="717509908479868999"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="717509908479868999"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="717509908479868999"] .username-3JLfHz,
.root-8LYsGj[data-user-id="717509908479868999"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine-reversed 5s linear infinite;
    -webkit-background-clip: text;
    
    background-image: radial-gradient(circle, rgba(1,144,249,1) 0%, rgba(253,224,45,1) 100%);
}

// Cywell#0001
.message-2CShn3[data-user-id="522953162748067840"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="522953162748067840"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="522953162748067840"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="522953162748067840"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="522953162748067840"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="522953162748067840"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="522953162748067840"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="522953162748067840"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="522953162748067840"] .username-3JLfHz,
.root-8LYsGj[data-user-id="522953162748067840"] .username-3JLfHz
{
    color: transparent !important;
    font-weight: bold; background-size: 300%;
    animation: shine 5s linear infinite;
    -webkit-background-clip: text;
    
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(17,91,15,0.9912280701754386) 48%, rgba(17,176,8,1) 83%);;
}

// Keyframes
@keyframes shine { to { background-position: 300% center;}}
@keyframes shine-reversed { to { background-position: -300% center;}}