.userPopout-xaxa6l[data-user-id="193188089756123136"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="193188089756123136"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="596812194906374167"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="596812194906374167"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="281376608038813696"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="281376608038813696"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="269939624401436672"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="269939624401436672"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="272440514400354305"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="272440514400354305"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="409639495030538250"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="409639495030538250"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="442661470770167838"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="442661470770167838"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="148883925270396929"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="148883925270396929"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="394804652064899072"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="394804652064899072"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="233787027517210624"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="233787027517210624"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[data-user-id="751092600890458203"] .profileBadges-ohc0Vu::before, .userPopout-xaxa6l[vz-user-id="751092600890458203"] .profileBadges-ohc0Vu::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="562386647828791311"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="562386647828791311"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="442661470770167838"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="442661470770167838"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="148883925270396929"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="148883925270396929"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="394804652064899072"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="394804652064899072"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="233787027517210624"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="233787027517210624"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="751092600890458203"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="751092600890458203"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.message-2qnXI6[data-user-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="193188089756123136"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="193188089756123136"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="193188089756123136"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="193188089756123136"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="193188089756123136"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="193188089756123136"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="193188089756123136"] .username-2b1r56,
.root-3QyAh1[data-user-id="193188089756123136"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #000000 0%, #ffffff 50%, #000000 100%);
}

.message-2qnXI6[data-user-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="281376608038813696"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="281376608038813696"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="281376608038813696"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="281376608038813696"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="281376608038813696"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="281376608038813696"] .username-2b1r56,
.root-3QyAh1[data-user-id="281376608038813696"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.message-2qnXI6[data-user-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="596812194906374167"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="596812194906374167"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="596812194906374167"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="596812194906374167"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="596812194906374167"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="596812194906374167"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="596812194906374167"] .username-2b1r56,
.root-3QyAh1[data-user-id="596812194906374167"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #ffe23b, #a18400, #ffe23b);
}

.message-2qnXI6[data-user-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="269939624401436672"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="269939624401436672"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="269939624401436672"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="269939624401436672"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="269939624401436672"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="269939624401436672"] .username-2b1r56,
.root-3QyAh1[data-user-id="269939624401436672"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #360167, #6B0772, #AF1281, #CF268A, #AF1281, #6B0772, #360167);
}

.message-2qnXI6[data-user-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="272440514400354305"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="272440514400354305"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="272440514400354305"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="272440514400354305"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="272440514400354305"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="272440514400354305"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="272440514400354305"] .username-2b1r56,
.root-3QyAh1[data-user-id="272440514400354305"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #FDC7C5 0%, #FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%, #D6D8A7 80%, #EFCFAF 90%, #FDC7C5 100%);
}

.message-2qnXI6[data-user-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="409639495030538250"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="409639495030538250"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="409639495030538250"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="409639495030538250"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="409639495030538250"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="409639495030538250"] .username-2b1r56,
.root-3QyAh1[data-user-id="409639495030538250"] .username-2b1r56,
.message-2qnXI6[data-user-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="303880582331629569"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="303880582331629569"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="303880582331629569"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="303880582331629569"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="303880582331629569"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="303880582331629569"] .username-2b1r56,
.root-3QyAh1[data-user-id="303880582331629569"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

.message-2qnXI6[data-user-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="562386647828791311"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="562386647828791311"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="562386647828791311"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="562386647828791311"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="562386647828791311"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="562386647828791311"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="562386647828791311"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="562386647828791311"] .username-2b1r56,
.root-3QyAh1[data-user-id="562386647828791311"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(56deg, #dfc13f 0%, #f63939 33%, #3e099d 66%, #dfc13f 99%);
}

.message-2qnXI6[data-user-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="442661470770167838"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="442661470770167838"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="442661470770167838"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="442661470770167838"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="442661470770167838"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="442661470770167838"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="442661470770167838"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="442661470770167838"] .username-2b1r56,
.root-3QyAh1[data-user-id="442661470770167838"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fcb2d7 0%, black 50%, #fcb2d7 100%);
}

.message-2qnXI6[data-user-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="148883925270396929"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="148883925270396929"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="148883925270396929"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="148883925270396929"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="148883925270396929"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="148883925270396929"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="148883925270396929"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="148883925270396929"] .username-2b1r56,
.root-3QyAh1[data-user-id="148883925270396929"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, black 0%, blue 25%, black 50%, #7b00ff 75%, black 100%);
}

.message-2qnXI6[data-user-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="394804652064899072"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="394804652064899072"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="394804652064899072"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="394804652064899072"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="394804652064899072"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="394804652064899072"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="394804652064899072"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="394804652064899072"] .username-2b1r56,
.root-3QyAh1[data-user-id="394804652064899072"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: radial-gradient(circle, #00cbff 0%, #4cc472 12%, #b7ab63 30%, #d6a512 51%, #ce2020 70%, #840707 100%);
}

.message-2qnXI6[data-user-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="233787027517210624"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="233787027517210624"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="233787027517210624"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="233787027517210624"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="233787027517210624"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="233787027517210624"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="233787027517210624"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="233787027517210624"] .username-2b1r56,
.root-3QyAh1[data-user-id="233787027517210624"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #ffd89b 0%, #19547b 50%, #ffd89b 100%);
}

.message-2qnXI6[data-user-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="751092600890458203"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="751092600890458203"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="751092600890458203"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="751092600890458203"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="751092600890458203"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="751092600890458203"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="751092600890458203"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="751092600890458203"] .username-2b1r56,
.root-3QyAh1[data-user-id="751092600890458203"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #D65E94 0%, #2AB5EA 50%, #D65E94 100%);
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}