.userPopout-xaxa6l[data-user-id="193188089756123136"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="193188089756123136"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="596812194906374167"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="596812194906374167"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="281376608038813696"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="281376608038813696"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="269939624401436672"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="269939624401436672"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="272440514400354305"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="272440514400354305"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="409639495030538250"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="409639495030538250"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[data-user-id="303880582331629569"] .profileBadges-3cJaE1::before, .userPopout-xaxa6l[vz-user-id="303880582331629569"] .profileBadges-3cJaE1::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 0 6px;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="193188089756123136"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="596812194906374167"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="281376608038813696"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="269939624401436672"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="272440514400354305"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="409639495030538250"]::before, .member-3-YXUe .wrapper-3t9DeA[data-user-id="303880582331629569"]::before, .member-3-YXUe .wrapper-3t9DeA[vz-user-id="303880582331629569"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 85%;
  background-position: bottom left;
  background-color: var(--background-secondary);
  border-radius: 0 5px 0 0;
  pointer-events: none;
}

.message-2qnXI6[data-user-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="193188089756123136"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="193188089756123136"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="193188089756123136"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="193188089756123136"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="193188089756123136"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="193188089756123136"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="193188089756123136"] .username-2b1r56,
.root-3QyAh1[data-user-id="193188089756123136"] .username-2b1r56,
.message-2qnXI6[data-user-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="596812194906374167"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="596812194906374167"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="596812194906374167"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="596812194906374167"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="596812194906374167"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="596812194906374167"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="596812194906374167"] .username-2b1r56,
.root-3QyAh1[data-user-id="596812194906374167"] .username-2b1r56,
.message-2qnXI6[data-user-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="281376608038813696"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="281376608038813696"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="281376608038813696"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="281376608038813696"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="281376608038813696"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="281376608038813696"] .username-2b1r56,
.root-3QyAh1[data-user-id="281376608038813696"] .username-2b1r56,
.message-2qnXI6[data-user-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="269939624401436672"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="269939624401436672"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="269939624401436672"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="269939624401436672"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="269939624401436672"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="269939624401436672"] .username-2b1r56,
.root-3QyAh1[data-user-id="269939624401436672"] .username-2b1r56,
.message-2qnXI6[data-user-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="272440514400354305"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="272440514400354305"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="272440514400354305"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="272440514400354305"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="272440514400354305"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="272440514400354305"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="272440514400354305"] .username-2b1r56,
.root-3QyAh1[data-user-id="272440514400354305"] .username-2b1r56,
.message-2qnXI6[data-user-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="409639495030538250"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="409639495030538250"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="409639495030538250"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="409639495030538250"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="409639495030538250"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="409639495030538250"] .username-2b1r56,
.root-3QyAh1[data-user-id="409639495030538250"] .username-2b1r56,
.message-2qnXI6[data-user-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="303880582331629569"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="303880582331629569"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="303880582331629569"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="303880582331629569"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="303880582331629569"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="303880582331629569"] .username-2b1r56,
.root-3QyAh1[data-user-id="303880582331629569"] .username-2b1r56 {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
}
@keyframes shine {
  to {
    background-position: 300% center;
  }
}

.message-2qnXI6[data-user-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="193188089756123136"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="193188089756123136"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="193188089756123136"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="193188089756123136"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="193188089756123136"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="193188089756123136"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="193188089756123136"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="193188089756123136"] .username-2b1r56,
.root-3QyAh1[data-user-id="193188089756123136"] .username-2b1r56,
.message-2qnXI6[data-user-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="281376608038813696"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="281376608038813696"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="281376608038813696"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="281376608038813696"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="281376608038813696"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="281376608038813696"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="281376608038813696"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="281376608038813696"] .username-2b1r56,
.root-3QyAh1[data-user-id="281376608038813696"] .username-2b1r56 {
  background-image: linear-gradient(-60deg, #1a8ce9 40%, #0b304e 80%, #1a8ce9 100%);
}

.message-2qnXI6[data-user-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="596812194906374167"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="596812194906374167"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="596812194906374167"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="596812194906374167"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="596812194906374167"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="596812194906374167"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="596812194906374167"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="596812194906374167"] .username-2b1r56,
.root-3QyAh1[data-user-id="596812194906374167"] .username-2b1r56 {
  background-image: linear-gradient(-60deg, #ffe23b, #a18400, #ffe23b);
}

.message-2qnXI6[data-user-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="269939624401436672"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="269939624401436672"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="269939624401436672"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="269939624401436672"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="269939624401436672"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="269939624401436672"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="269939624401436672"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="269939624401436672"] .username-2b1r56,
.root-3QyAh1[data-user-id="269939624401436672"] .username-2b1r56 {
  background-image: linear-gradient(-60deg, #DA22FF, #9733EE, #DA22FF);
}

.message-2qnXI6[data-user-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="272440514400354305"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="272440514400354305"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="272440514400354305"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="272440514400354305"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="272440514400354305"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="272440514400354305"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="272440514400354305"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="272440514400354305"] .username-2b1r56,
.root-3QyAh1[data-user-id="272440514400354305"] .username-2b1r56 {
  background-image: linear-gradient(-60deg, #FDC7C5 0%, #FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%, #D6D8A7 80%, #EFCFAF 90%, #FDC7C5 100%);
}

.message-2qnXI6[data-user-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="409639495030538250"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="409639495030538250"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="409639495030538250"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="409639495030538250"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="409639495030538250"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="409639495030538250"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="409639495030538250"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="409639495030538250"] .username-2b1r56,
.root-3QyAh1[data-user-id="409639495030538250"] .username-2b1r56,
.message-2qnXI6[data-user-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="303880582331629569"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="303880582331629569"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="303880582331629569"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="303880582331629569"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="303880582331629569"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="303880582331629569"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="303880582331629569"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="303880582331629569"] .username-2b1r56,
.root-3QyAh1[data-user-id="303880582331629569"] .username-2b1r56 {
  background-image: linear-gradient(-60deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}