// -- Badge --

.userPopout-2j1gM4 {
  &[data-user-id="368399721494216706"],
  &[vz-user-id="368399721494216706"],
  &[data-user-id="681816758973366365"],
  &[vz-user-id="681816758973366365"],
  &[data-user-id="400618023075184650"],
  &[vz-user-id="400618023075184650"] {
    .profileBadges-2pItdR::before {
      content: "";
      position: relative;
      width: 20px;
      height: 17px;
      margin: 1.5px 6px 0 0;
      pointer-events: none;
      background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1")
        center/100% no-repeat;
    }
  }
}

.member-2gU6Ar .wrapper-1VLyxH {
  &[data-user-id="368399721494216706"]::before,
  &[vz-user-id="368399721494216706"]::before,
  &[data-user-id="681816758973366365"]::before,
  &[vz-user-id="681816758973366365"]::before,
  &[data-user-id="400618023075184650"]::before,
  &[vz-user-id="400618023075184650"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    bottom: -3px;
    left: -5px;
    z-index: 2;
    background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1")
      no-repeat;
    background-size: 85%;
    border-radius: 0 5px 0 0;
    pointer-events: none;
  }
}

// -- Animated gradient username --

// Kyrie
.message-2CShn3[data-user-id="368399721494216706"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[data-author-id="368399721494216706"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[vz-user-id="368399721494216706"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="368399721494216706"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="368399721494216706"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="368399721494216706"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="368399721494216706"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="368399721494216706"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="368399721494216706"] .username-3JLfHz,
.root-8LYsGj[data-user-id="368399721494216706"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;

  background-image: linear-gradient(
    -60deg,
    #3285a8,
    #266e8c,
    #216a9c,
    #1e5b94,
    #185087,
    #103a63,
    #185087,
    #1e5b94,
    #216a9c,
    #266e8c,
    #3285a8
  );
}

// jutdut
.message-2CShn3[data-user-id="681816758973366365"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[data-author-id="681816758973366365"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[vz-user-id="681816758973366365"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="681816758973366365"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="681816758973366365"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="681816758973366365"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="681816758973366365"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="681816758973366365"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="681816758973366365"] .username-3JLfHz,
.root-8LYsGj[data-user-id="681816758973366365"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 6s linear infinite;
  -webkit-background-clip: text;

  background-image: linear-gradient(
    -60deg,
    #00a6ff,
    #8300e0,
    #e823a1,
    #f3d910,
    #ffffff,
    #ffa5d8
  );
}

// Sharkie
.message-2CShn3[data-user-id="400618023075184650"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[data-author-id="400618023075184650"]
  > :not(.repliedMessage-3Z6XBG)
  .username-h_Y3Us,
.message-2CShn3[vz-user-id="400618023075184650"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="400618023075184650"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="400618023075184650"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="400618023075184650"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="400618023075184650"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="400618023075184650"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="400618023075184650"] .username-3JLfHz,
.root-8LYsGj[data-user-id="400618023075184650"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  animation: shine-reversed 6s linear infinite;
  -webkit-background-clip: text;

  background-image: linear-gradient(
    -60deg,
    #90f5ff,
    #63e6f4,
    #3ddceb,
    #04bfd3,
    #0798d2,
    #0760d2
  );
}

// Keyframes
@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
